name: Test workflow for developing the frizbee-action
on:
  workflow_dispatch:

permissions: write-all

jobs:
  test_pr_and_fail_defaults:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./ # Uses an action in the root directory
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          open_pr: true
          fail_on_unpinned: true
  test_pr_and_fail:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./ # Uses an action in the root directory
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          actions: tests/workflows
          dockerfiles: tests/dockerfiles
          kubernetes: tests/k8s
          docker_compose: tests/docker_compose
          open_pr: true
          fail_on_unpinned: true
  test_pr_and_fail_again:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./ # Uses an action in the root directory
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          actions: tests/workflows
          dockerfiles: tests/dockerfiles
          kubernetes: tests/k8s
          docker_compose: tests/docker_compose
          open_pr: true
          fail_on_unpinned: true
  test_no_pr_and_fail:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./ # Uses an action in the root directory
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          actions: tests/workflows
          dockerfiles: tests/dockerfiles
          kubernetes: tests/k8s
          docker_compose: tests/docker_compose
          open_pr: false
          fail_on_unpinned: true
  test_no_pr_and_no_fail:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./ # Uses an action in the root directory
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          actions: tests/workflows
          dockerfiles: tests/dockerfiles
          kubernetes: tests/k8s
          docker_compose: tests/docker_compose
          open_pr: false
          fail_on_unpinned: false
  test_no_pr_and_no_fail_no_actions:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./ # Uses an action in the root directory
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          actions: ""
          dockerfiles: "."
          kubernetes: ""
          docker_compose: ""
          open_pr: false
          fail_on_unpinned: false
  test_no_pr_and_no_fail_default:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./ # Uses an action in the root directory
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          open_pr: false
          fail_on_unpinned: false
  test_no_pr_and_no_fail_conflict:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: ./ # Uses an action in the root directory
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          actions: ""
          dockerfiles: "."
          kubernetes: "."
          docker_compose: "."
          open_pr: false
          fail_on_unpinned: false
